:root {
    /* Fonts */
    --main-font-family: 'Roboto', sans-serif;
    --main-dark-color: #000;
    --main-light-color: #fff;
    --current-color: #2196F3;
    --main-color: #757575;
    --secondory-color: #212121;
    --main-background-color: #2F303A;

}
body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    font-style:normal;
    color: var(--main-color)
}
.link {
    text-decoration: none;
    color: inherit;


}
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}
.list {
    list-style: none;
}
.section {
    background-color: var(--main-light-color);
}
.section-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--main-dark-color)

}
.current {
    color: var(--current-color);
}
.header {
    background-color: var(--main-light-color);

}
.site-logo {
font-size: 26px;
line-height: 1.19;
color: var(--main-dark-color);
}
.nav-item-color {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--main-color)
}
.nav-item {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--secondory-color)
}
.nav-link {
 font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--secondory-color)

}
.section-title {

background: var(--main-background-color);

}
.site-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-light-color)
}
.header-button {
background: #2196F3;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;

}
.about-us {

}
.about-us-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondory-color)
}
.about-us-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color)
}
.section-work-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondory-color)
}
.section-team-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondory-color)
}
.surname {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--secondory-color)
}
.profession {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-color)
}
.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: var(--main-background-color)
}
.address {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-light-color)
}
.address-mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-light-color)
}
.address-tel {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: var(--main-light-color)
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color: var(--main-light-color)
}